{% extends 'base.html.twig' %}

{% block body %}
   <div class="container">
       <div role="main" class="page-content">
           <h1 class="f-welcome">
               <strong>Bara</strong> SECK<br>
               Développeur web<br>
               chez <a href="http://www.enr-cert.com/" target="_blank" rel="noopener noreferrer">Enrcert</a>.
           </h1>

       </div>
   </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}